footer.footer
	.footer-left
		.footer-left__item ООО “Ра-Студио”
		.footer-left__item ОГРН: 244657646345
		.footer-left__item ИНН: 24465764
	.footer-right
		a.footer-right__item(href="mailto:careers@ra-studio.ru") careers@ra-studio.ru
		a.footer-right__item(href="tel:88126112333") +7 (812) 611-2-333