extends ../template

block variables
    - var title = 'Статья'

block content
    .article
        .article-head
            .article-head-timestamp 99 октября 2071
            h1.article-head-h1 Особенности верстки для дизайнеров Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet soluta totam quia quis, eligendi impedit ipsa perspiciatis! Nam, atque doloremque!
            .article-head-description
            .article-head-timeread
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="4.5" stroke="black"/>
                    <path d="M4.99982 4.99999V5.49999H5.49982V4.99999H4.99982ZM5.49982 2.27272C5.49982 1.99658 5.27596 1.77272 4.99982 1.77272C4.72368 1.77272 4.49982 1.99658 4.49982 2.27272H5.49982ZM3.18164 4.49999C2.9055 4.49999 2.68164 4.72385 2.68164 4.99999C2.68164 5.27614 2.9055 5.49999 3.18164 5.49999V4.49999ZM5.49982 4.99999V2.27272H4.49982V4.99999H5.49982ZM4.99982 4.49999H3.18164V5.49999H4.99982V4.49999Z" fill="black"/>
                </svg>
                | Время чтения: 7 минут
        .block-wide
            img(src="assets/images/article.png", alt="article")
        .article-wrapper
            .article-author
                .article-author__head Автор
                .article-author-content
                    .article-author-content__item Тур тур тур тур
                .article-author__head Раздел
                .article-author-content
                    .article-author-content__item Дезайн
                .article-author__head Теги
                .article-author-content
                    .article-author-content__item 1С Битрикс
                    .article-author-content__item Гуиды
                    .article-author-content__item Бесполезное

            .article-container
                .article-container-text
                    | Какого размера должны быть шрифты? И что насчет вертикального ритма?
                    | Я собираюсь детально описать процесс, чтобы ответить на все подобные вопросы, сокращая затраты времени на выработку выдержанной типографики, соответствующей вашей сеточной системе и минимизирующей конфликты в дизайне.
                    | Гармоничная типографическая и сеточная система внутренне непротиворечива. Такие системы помогают убедиться, что все макеты и компоненты соответствуют друг другу, по аналогии с конструктором – любой кирпичик Lego совместим с другим кирпичиком Lego.
                .article-container-head Почему это важно
                .article-container-text
                    | Какого размера должны быть шрифты? И что насчет вертикального ритма?
                    | Я собираюсь детально описать процесс, чтобы ответить на все подобные вопросы, сокращая затраты времени на выработку выдержанной типографики, соответствующей вашей сеточной системе и минимизирующей конфликты в дизайне.
                    | Гармоничная типографическая и сеточная система внутренне непротиворечива. Такие системы помогают убедиться, что все макеты и компоненты соответствуют друг другу, по аналогии с конструктором – любой кирпичик Lego совместим с другим кирпичиком Lego.
                .article-container-head Последовательность
                .article-container-text
                    | Какого размера должны быть шрифты? И что насчет вертикального ритма?
                    | Я собираюсь детально описать процесс, чтобы ответить на все подобные вопросы, сокращая затраты времени на выработку выдержанной типографики, соответствующей вашей сеточной системе и минимизирующей конфликты в дизайне.
                    | Гармоничная типографическая и сеточная система внутренне непротиворечива. Такие системы помогают убедиться, что все макеты и компоненты соответствуют друг другу, по аналогии с конструктором – любой кирпичик Lego совместим с другим кирпичиком Lego.
                .article-container-img
                    img(src="assets/images/article-inner.png", alt="article-inner")
                .article-container-text
                    | Какого размера должны быть шрифты? И что насчет вертикального ритма?
                    | Я собираюсь детально описать процесс, чтобы ответить на все подобные вопросы, сокращая затраты времени на выработку выдержанной типографики, соответствующей вашей сеточной системе и минимизирующей конфликты в дизайне.
                    | Гармоничная типографическая и сеточная система внутренне непротиворечива. Такие системы помогают убедиться, что все макеты и компоненты соответствуют друг другу, по аналогии с конструктором – любой кирпичик Lego совместим с другим кирпичиком Lego.
                .article-container-text
                    | Какого размера должны быть шрифты? И что насчет вертикального ритма?
                    | Я собираюсь детально описать процесс, чтобы ответить на все подобные вопросы, сокращая затраты времени на выработку выдержанной типографики, соответствующей вашей сеточной системе и минимизирующей конфликты в дизайне.
                    | Гармоничная типографическая и сеточная система внутренне непротиворечива. Такие системы помогают убедиться, что все макеты и компоненты соответствуют друг другу, по аналогии с конструктором – любой кирпичик Lego совместим с другим кирпичиком Lego.
        .a       


//12.1.4 ios
//12.2 ios