extends ../template

block variables
    - var title = 'Кейсы'

block content
    .cases
        .cases-head
            .cases-head__text Истории успешеного сотрудничества
            h1.main-banner-left__title Наши кейсы
        .cases-main
            .tabs
                .tabs-nav
                    .tabs-nav-item.active Логотипы
                    .tabs-nav-item Упаковка
                    .tabs-nav-item Дизайн
                    .tabs-nav-item Разработка
                .tabs-content
                    .tabs-content-item.active
                        .cases-item
                            .cases-item-content
                                .cases-item-content__head Internation
                                .cases-item-content__text Разработка дизайна интернет-магазина российского бренда спортивной одежды 
                                .cases-item-content-tags
                                    .cases-item-content-tags__item website
                                    .cases-item-content-tags__item icon set
                                    .cases-item-content-tags__item mobile first
                                .cases-item-content__btn
                                    a.main-banner-left__btn Смотреть кейс
                                
                            .cases-item-img
                                img(src="assets/images/case-1.png", alt="case-1")
                    .tabs-content-item
                        .cases-item
                            .cases-item-content
                                .cases-item-content__head Internation
                                .cases-item-content__text Разработка дизайна интернет-магазина российского бренда спортивной одежды 
                                .cases-item-content-tags
                                    .cases-item-content-tags__item website
                                    .cases-item-content-tags__item icon set
                                    .cases-item-content-tags__item mobile first
                                .cases-item-content__btn
                                    a.main-banner-left__btn Смотреть кейс
                                
                            .cases-item-img
                                img(src="assets/images/case-1.png", alt="case-1")
                    .tabs-content-item
                        .cases-item
                            .cases-item-content
                                .cases-item-content__head Internation
                                .cases-item-content__text Разработка дизайна интернет-магазина российского бренда спортивной одежды 
                                .cases-item-content-tags
                                    .cases-item-content-tags__item website
                                    .cases-item-content-tags__item icon set
                                    .cases-item-content-tags__item mobile first
                                .cases-item-content__btn
                                    a.main-banner-left__btn Смотреть кейс
                                
                            .cases-item-img
                                img(src="assets/images/case-1.png", alt="case-1")
                    .tabs-content-item
                        .cases-item
                            .cases-item-content
                                .cases-item-content__head Internation
                                .cases-item-content__text Разработка дизайна интернет-магазина российского бренда спортивной одежды 
                                .cases-item-content-tags
                                    .cases-item-content-tags__item website
                                    .cases-item-content-tags__item icon set
                                    .cases-item-content-tags__item mobile first
                                .cases-item-content__btn
                                    a.main-banner-left__btn Смотреть кейс
                                
                            .cases-item-img
                                img(src="assets/images/case-1.png", alt="case-1")


        include ../common/form.pug


