extends ../template

block variables
	- var title = 'Главная'

block content
	.main
		.main-banner
			.main-banner-wrap
				.main-banner-left
					.main-banner-left__text Делигируйте работу профессионалам
					h1.main-banner-left__title Разработка и поддержка сайтов
					.main-banner-left-items
						.main-banner-left-items__item Соблюдение сроков
						.main-banner-left-items__item Системный подход
						.main-banner-left-items__item Уникальные решения
					a.main-banner-left__btn(data-fancybox="" data-options='{"src": "#SendForm", "touch": false}' href="javascript:;" data-aos="zoom-in" data-aos-delay="1000") Узнать подробнее
				.main-banner-right#lottie
			.main-banner-bot(data-aos="fade-up" data-aos-delay="1000" data-aos-anchor-placement="bottom-bottom")
				.main-banner-bot-mouse(data-div="second-screen")
					<svg width="21" height="33" viewBox="0 0 21 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="0.5" y="0.5" width="20" height="32" rx="10" stroke="black" stroke-opacity="0.5"/>
						<path d="M10.5 6V13.5" stroke="black" stroke-opacity="0.5" stroke-linecap="round"/>
					</svg>
				.main-banner-bot-item
					img(src="assets/images/prize1.png", alt="")
					span 29 место разработчик интернет-магазинов
				.main-banner-bot-item
					img(src="assets/images/prize2.png", alt="")
					span 32 место разработчик в Санкт-Петербурге
		.main-about#second-screen
			.main-about__subtitle О нашей компании
			h2.main-about__title Ra-studio
			.main-about-items
				.main-about-items-item
					.main-about-items-item__title 7
					.main-about-items-item__text Лет мы занимаемся разработкой и поддержкой
				.main-about-items-item
					.main-about-items-item__title 70+
					.main-about-items-item__text Довольных клиентов, работающих с нами
				.main-about-items-item
					.main-about-items-item__title 28
					.main-about-items-item__text Топ разработчиков 1С-Битрикс в Санкт-Петербурге
				.main-about-items-item
					.main-about-items-item__title 5
					.main-about-items-item__text Средняя оценка нас клиентами по данным Рейтинга Рунета
				.main-about-items-item
					.main-about-items-item__title 30
					.main-about-items-item__text Топ разработчиков<br> интернет-магазинов по версии CMS Magazine
				.main-about-items-item
					.main-about-items-item__title 15+
					.main-about-items-item__text Сертифицированных специалистов в команде
			.main-about__subtitle Сотрудничаем и проводим семинары с 1С-Битрикс
			.main-about-partners
				.main-about-partners-item
					img(src="assets/images/partner1.png", alt="")
				.main-about-partners-item
					img(src="assets/images/partner2.png", alt="")
					img(src="assets/images/partner3.png", alt="")
				.main-about-partners-item
					img(src="assets/images/partner4.png", alt="")
		.main-ways
			.main-ways__subtitle Что мы делаем
			h2.main-ways__title Направления разработки
			.main-ways-item(data-aos="fade-up")
				.main-ways-item-top
					.main-ways-item-top-wrap
						.main-ways-item-top-left
							<svg width="44" height="36" viewBox="0 0 44 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.5 28.5H2.5V29.5H3.5V28.5ZM41 28.5V29.5H42V28.5H41ZM41 1.5H42C42 0.947715 41.5523 0.5 41 0.5V1.5ZM3.5 1.5V0.5C2.94772 0.5 2.5 0.947715 2.5 1.5L3.5 1.5ZM3.5 29.5H41V27.5H3.5V29.5ZM42 28.5V1.5H40V28.5H42ZM41 0.5H3.5V2.5H41V0.5ZM2.5 1.5V28.5H4.5V1.5H2.5ZM0 35.5H44V33.5H0V35.5Z" fill="white"/>
							</svg>
							.main-ways-item-top-left-info
								.main-ways-item-top-left-info__title Сайты
								.main-ways-item-top-left-info-items
									.main-ways-item-top-left-info-items__item Корпоративные сайты
									.main-ways-item-top-left-info-items__item Интернет-магазины
									.main-ways-item-top-left-info-items__item Промо-сайты
						<svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L13 13L25 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
						</svg>
				.main-ways-item-main
					.main-ways-item-main__title С 2011 года мы создали более 100 сайтов
					.main-ways-item-main-content
						.main-ways-item-main-content-left
							<svg width="99" height="1" viewBox="0 0 99 1" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="0.5" x2="99" y2="0.5" stroke="black"/>
							</svg>
							.main-ways-item-main-content-left__title 20+
							.main-ways-item-main-content-left__text Крупных компаний сотрудничают с нами в рамках годовых контрактов
						.main-ways-item-main-content-right
							p Это были корпоративные сайты, интернет-магазины, проекты для повышения лояльности и продвижения продуктов или услуг. Чаще всего с нами работают крупные компании из сферы услуг, промышленного сектора, недвижимости и финансов.
							p За последний год мы сделали проекты для «Металлоинвест», YOTA, Capital Group и еще 20 крупных компаний.
							p Обычно сайты мы собираем «под ключ», от проектирования и подготовки задания до сборки и публикации. Например, в 2016 году мы запустили сервис важного государственного голосования, который посетили более 10 млн человек.
							p А сайт к юбилею компании «Металлоинвест» получил десяток премий на российских и международных конкурсах.
							p Для решения подобных задач в нашей команде внедрены понятные системы управления процессами и существует внутренний аудит качества.
			.main-ways-item(data-aos="fade-up")
				.main-ways-item-top
					.main-ways-item-top-wrap
						.main-ways-item-top-left
							<svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14 10V39H1V10M14 10L7.5 2L1 10M14 10H1M35 13.5V5H22V39H35V30.5M35 13.5H30M35 13.5V22M35 22H27.5M35 22V30.5M35 30.5H30" stroke="white" stroke-width="2"/>
							</svg>
							.main-ways-item-top-left-info
								.main-ways-item-top-left-info__title Дизайн
								.main-ways-item-top-left-info-items
									.main-ways-item-top-left-info-items__item UX / UI design
									.main-ways-item-top-left-info-items__item Прототипирование
									.main-ways-item-top-left-info-items__item User research
						<svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L13 13L25 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
						</svg>
				.main-ways-item-main
					.main-ways-item-main__title С 2011 года мы создали более 100 сайтов
					.main-ways-item-main-content
						.main-ways-item-main-content-left
							<svg width="99" height="1" viewBox="0 0 99 1" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="0.5" x2="99" y2="0.5" stroke="black"/>
							</svg>
							.main-ways-item-main-content-left__title 20+
							.main-ways-item-main-content-left__text Крупных компаний сотрудничают с нами в рамках годовых контрактов
						.main-ways-item-main-content-right
							p Это были корпоративные сайты, интернет-магазины, проекты для повышения лояльности и продвижения продуктов или услуг. Чаще всего с нами работают крупные компании из сферы услуг, промышленного сектора, недвижимости и финансов.
							p За последний год мы сделали проекты для «Металлоинвест», YOTA, Capital Group и еще 20 крупных компаний.
							p Обычно сайты мы собираем «под ключ», от проектирования и подготовки задания до сборки и публикации. Например, в 2016 году мы запустили сервис важного государственного голосования, который посетили более 10 млн человек.
							p А сайт к юбилею компании «Металлоинвест» получил десяток премий на российских и международных конкурсах.
							p Для решения подобных задач в нашей команде внедрены понятные системы управления процессами и существует внутренний аудит качества.
			.main-ways-item(data-aos="fade-up")
				.main-ways-item-top
					.main-ways-item-top-wrap
						.main-ways-item-top-left
							<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.148 19.124L2.268 26H0L11.052 0.511963H13.104L23.94 26H21.672L18.792 19.124H5.148ZM12.024 2.67196L5.904 17.252H18.036L12.024 2.67196Z" fill="white"/>
								<path d="M32.2715 26.468C30.7835 26.468 29.4515 26.048 28.2755 25.208C27.0995 24.368 26.5115 23.12 26.5115 21.464C26.5115 20.312 26.7875 19.352 27.3395 18.584C27.9155 17.792 28.7195 17.216 29.7515 16.856C30.8075 16.472 31.8755 16.208 32.9555 16.064C34.0355 15.92 35.2835 15.848 36.6995 15.848H38.3915V15.092C38.3915 11.972 36.8075 10.412 33.6395 10.412C31.6715 10.412 30.0035 11.072 28.6355 12.392L27.5555 11.096C29.1395 9.55996 31.2275 8.79196 33.8195 8.79196C35.7635 8.79196 37.3235 9.30796 38.4995 10.34C39.6755 11.372 40.2635 12.884 40.2635 14.876V22.22C40.2635 23.732 40.3595 24.992 40.5515 26H38.7875C38.5955 24.848 38.4995 23.816 38.4995 22.904H38.4275C37.1075 25.28 35.0555 26.468 32.2715 26.468ZM32.7395 24.848C34.5635 24.848 35.9555 24.26 36.9155 23.084C37.8995 21.884 38.3915 20.444 38.3915 18.764V17.396H37.1315C31.3955 17.396 28.5275 18.716 28.5275 21.356C28.5275 22.556 28.9355 23.444 29.7515 24.02C30.5915 24.572 31.5875 24.848 32.7395 24.848Z" fill="white"/>
							</svg>
							.main-ways-item-top-left-info
								.main-ways-item-top-left-info__title Брендинг
								.main-ways-item-top-left-info-items
									.main-ways-item-top-left-info-items__item Логотипы
									.main-ways-item-top-left-info-items__item Фирменный стиль
									.main-ways-item-top-left-info-items__item Рекламные иллюстрации
						<svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L13 13L25 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
						</svg>
				.main-ways-item-main
					.main-ways-item-main__title С 2011 года мы создали более 100 сайтов
					.main-ways-item-main-content
						.main-ways-item-main-content-left
							<svg width="99" height="1" viewBox="0 0 99 1" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="0.5" x2="99" y2="0.5" stroke="black"/>
							</svg>
							.main-ways-item-main-content-left__title 20+
							.main-ways-item-main-content-left__text Крупных компаний сотрудничают с нами в рамках годовых контрактов
						.main-ways-item-main-content-right
							p Это были корпоративные сайты, интернет-магазины, проекты для повышения лояльности и продвижения продуктов или услуг. Чаще всего с нами работают крупные компании из сферы услуг, промышленного сектора, недвижимости и финансов.
							p За последний год мы сделали проекты для «Металлоинвест», YOTA, Capital Group и еще 20 крупных компаний.
							p Обычно сайты мы собираем «под ключ», от проектирования и подготовки задания до сборки и публикации. Например, в 2016 году мы запустили сервис важного государственного голосования, который посетили более 10 млн человек.
							p А сайт к юбилею компании «Металлоинвест» получил десяток премий на российских и международных конкурсах.
							p Для решения подобных задач в нашей команде внедрены понятные системы управления процессами и существует внутренний аудит качества.
			.main-ways-item(data-aos="fade-up")
				.main-ways-item-top
					.main-ways-item-top-wrap
						.main-ways-item-top-left
							<svg width="44" height="47" viewBox="0 0 44 47" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14.5 7.07983C6.64511 9.7778 1 17.2296 1 25.9999C1 37.0456 9.9543 45.9999 21 45.9999C29.8585 45.9999 37.3718 40.2406 40 32.2622" stroke="white" stroke-width="2"/>
								<path d="M37.237 16.877C39.0798 20.0688 39.8909 23.5707 39.775 26.9998L20.0001 26.9998L20.0001 7.389C26.8335 7.11339 33.5821 10.5466 37.237 16.877Z" stroke="white" stroke-width="2"/>
							</svg>
							.main-ways-item-top-left-info
								.main-ways-item-top-left-info__title Аналитика
								.main-ways-item-top-left-info-items
									.main-ways-item-top-left-info-items__item Работа с конверсией
									.main-ways-item-top-left-info-items__item SEO-оптимизация
									.main-ways-item-top-left-info-items__item Управление трафиком
						<svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L13 13L25 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
						</svg>
				.main-ways-item-main
					.main-ways-item-main__title С 2011 года мы создали более 100 сайтов
					.main-ways-item-main-content
						.main-ways-item-main-content-left
							<svg width="99" height="1" viewBox="0 0 99 1" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line y1="0.5" x2="99" y2="0.5" stroke="black"/>
							</svg>
							.main-ways-item-main-content-left__title 20+
							.main-ways-item-main-content-left__text Крупных компаний сотрудничают с нами в рамках годовых контрактов
						.main-ways-item-main-content-right
							p Это были корпоративные сайты, интернет-магазины, проекты для повышения лояльности и продвижения продуктов или услуг. Чаще всего с нами работают крупные компании из сферы услуг, промышленного сектора, недвижимости и финансов.
							p За последний год мы сделали проекты для «Металлоинвест», YOTA, Capital Group и еще 20 крупных компаний.
							p Обычно сайты мы собираем «под ключ», от проектирования и подготовки задания до сборки и публикации. Например, в 2016 году мы запустили сервис важного государственного голосования, который посетили более 10 млн человек.
							p А сайт к юбилею компании «Металлоинвест» получил десяток премий на российских и международных конкурсах.
							p Для решения подобных задач в нашей команде внедрены понятные системы управления процессами и существует внутренний аудит качества.
		.main-clients
			.main-clients__subtitle Наши клиенты
			h2.main-clients__title От крупных застройщиков до малого бизнеса
			.main-clients-items(data-aos="fade")
				.main-clients-items-item
					img(src="assets/images/client1.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client2.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client3.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client4.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client5.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client6.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client7.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client8.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client9.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client10.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client11.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client12.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client13.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client14.png", alt="")
				.main-clients-items-item
					img(src="assets/images/client15.png", alt="")
		.main-vacancy
			.main-vacancy__subtitle Наша команда продолжает расти
			h2.main-vacancy__title Открытые вакансии
			.main-vacancy-wrap
				.main-vacancy-items
					a.main-vacancy-items-item(href="#" data-aos="fade-up")
						.main-vacancy-items-item__text Разработка
						.main-vacancy-items-item__title PHP backend разработчик
						.main-vacancy-items-item__btn Подробнее
						<svg width="262" height="229" viewBox="0 0 262 229" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0)">
							<path d="M209.57 113.805C208.591 108.352 207.991 102.839 207.773 97.3032C207.58 92.7445 205.982 88.3572 203.199 84.7429C200.415 81.1286 196.583 78.4643 192.227 77.1151C190.639 76.6263 188.891 76.1695 186.96 75.7592C170.035 72.1627 164.894 75.3023 164.309 75.7155C163.814 74.8151 163.384 73.8807 163.021 72.9192C162.992 72.8203 162.966 72.7214 162.936 72.6283C166.286 69.054 168.327 64.4498 168.726 59.5662C171.55 56.703 173.199 53.2462 173.199 49.5246C173.199 46.3238 171.978 43.3209 169.84 40.7225V35.6653C169.84 29.8334 167.525 24.2403 163.403 20.1165C159.282 15.9927 153.692 13.676 147.864 13.676H146.081C143.195 13.676 140.338 14.2448 137.671 15.3499C135.005 16.4549 132.582 18.0746 130.542 20.1165C128.501 22.1584 126.882 24.5825 125.778 27.2503C124.673 29.9182 124.105 32.7776 124.105 35.6653V41.1153C122.165 43.6206 121.066 46.4809 121.066 49.5187C121.066 53.1618 122.648 56.5488 125.364 59.3771C125.735 64.4396 127.87 69.2113 131.395 72.861C131.515 73.6874 131.637 74.5749 131.756 75.5118L101.483 81.9105C101.483 81.9105 89.81 82.3906 82.2897 97.9143C75.9298 111.064 63.2738 144.846 59.5253 154.902C58.8477 156.724 58.4639 157.769 58.4639 157.769C58.4639 157.769 58.5889 157.643 58.8245 157.428L58.4639 158.409C58.4639 158.409 58.6471 158.222 58.996 157.917C58.4668 162.124 58.3912 169.349 63.8991 170.249C68.5171 171.002 80.4169 171.314 89.4058 171.439H90.0281C95.9867 171.517 100.52 171.517 100.52 171.517V171.439H197.196V170.446C197.198 169.547 197.017 168.656 196.664 167.828L196.798 167.665C197.315 168.348 197.66 169.147 197.801 169.993C197.79 170.075 197.775 170.156 197.755 170.237L197.813 170.089C197.836 170.353 197.816 170.619 197.755 170.877C197.755 170.877 210.158 138.901 210.024 119.807C210.06 117.797 209.908 115.787 209.57 113.805ZM132.259 79.8329C132.099 78.9207 131.996 77.9994 131.951 77.0744C131.951 77.0744 131.951 77.0569 131.951 77.0482C132.058 77.9473 132.163 78.8785 132.259 79.8329ZM94.681 148.515V156.136L89.9118 157.157L94.681 148.515Z" fill="url(#paint0_linear)"/>
							<path d="M146.482 16.7515C152.311 16.7515 157.9 19.0682 162.022 23.192C166.143 27.3157 168.458 32.9088 168.458 38.7407V48.1218H124.506V38.7407C124.506 32.9088 126.821 27.3157 130.943 23.192C135.064 19.0682 140.654 16.7515 146.482 16.7515Z" fill="#E14B5A"/>
							<path d="M146.637 68.4206C160.472 68.4206 171.687 60.7096 171.687 51.1976C171.687 41.6856 160.472 33.9746 146.637 33.9746C132.802 33.9746 121.587 41.6856 121.587 51.1976C121.587 60.7096 132.802 68.4206 146.637 68.4206Z" fill="#E14B5A"/>
							<path d="M130.578 67.8824C130.578 67.8824 135.813 95.2547 130.578 102.637C125.344 110.019 146.573 112.94 146.573 112.94L168.546 104.944L171.62 85.2596C171.62 85.2596 158.243 77.7233 161.014 62.4993L130.578 67.8824Z" fill="#F7C4A7"/>
							<path d="M195.434 160.152C195.434 160.152 196.818 166.149 189.286 167.225C184.839 167.88 180.316 167.826 175.886 167.065L174.226 152.001H191.747L195.434 160.152Z" fill="#F7C4A7"/>
							<path d="M62.4365 152.475C62.4365 152.475 59.1097 166.003 66.6416 167.225C74.1735 168.447 101.829 168.456 101.829 168.456V152.452L89.3071 155.129L77.5527 143.851L62.4365 152.475Z" fill="#F7C4A7"/>
							<path opacity="0.1" d="M132.195 76.7252L102.763 82.9521C102.763 82.9521 91.5432 83.4148 84.3195 98.3303C77.0959 113.246 61.4185 155.845 61.4185 155.845C61.4185 155.845 74.7956 142.312 90.4672 156.768L100.919 137.854L98.6127 167.842H179.597V153.692C179.597 153.692 196.501 162.765 195.274 167.839C195.274 167.839 209.742 130.542 206.616 113.592C205.675 108.352 205.097 103.054 204.888 97.7338C204.704 93.3525 203.168 89.1358 200.493 85.6624C197.818 82.189 194.134 79.6291 189.947 78.3343C188.423 77.8658 186.748 77.4264 184.887 77.0336C167.52 73.344 163.076 77.0336 163.076 77.0336C163.076 77.0336 159.711 87.9861 159.772 92.9502C159.848 99.3313 150.705 103.562 150.705 103.562C150.705 103.562 137.18 100.332 136.566 97.7193C135.952 95.1063 131.113 79.8008 132.195 76.7252Z" fill="black"/>
							<path d="M132.195 76.1112L102.763 82.3381C102.763 82.3381 91.5432 82.8008 84.3195 97.7163C77.0959 112.632 61.4155 155.237 61.4155 155.237C61.4155 155.237 74.7927 141.704 90.4643 156.159L100.916 137.246L98.6098 167.225H179.597V153.078C179.597 153.078 196.501 162.151 195.274 167.225C195.274 167.225 209.742 129.928 206.616 112.978C205.675 107.738 205.097 102.439 204.888 97.1198C204.704 92.7385 203.168 88.5218 200.493 85.0483C197.818 81.5749 194.134 79.0151 189.947 77.7203C188.423 77.2518 186.748 76.8124 184.886 76.4196C167.519 72.73 163.076 76.4196 163.076 76.4196C163.076 76.4196 159.711 87.372 159.772 92.3361C159.848 98.7173 150.705 102.948 150.705 102.948C150.705 102.948 137.18 99.7183 136.566 97.1053C135.952 94.4923 131.113 79.1868 132.195 76.1112Z" fill="#575988"/>
							<path opacity="0.1" d="M162.271 74.8047C161.034 71.3024 160.757 67.5328 161.468 63.8872L131.032 69.2674C131.032 69.2674 131.471 71.569 131.969 75.0171C133.935 77.0589 136.296 78.6792 138.908 79.7793C141.52 80.8795 144.328 81.4366 147.162 81.4167C149.996 81.3969 152.796 80.8005 155.393 79.6638C157.989 78.5271 160.327 76.8739 162.265 74.8047H162.271Z" fill="black"/>
							<path d="M167.462 59.1181C167.438 64.6055 165.26 69.8638 161.397 73.7591C157.534 77.6544 152.296 79.8746 146.812 79.941C141.328 80.0075 136.038 77.9148 132.082 74.1142C128.126 70.3136 125.821 65.1096 125.664 59.6244C125.664 59.4556 125.664 59.2868 125.664 59.1181C125.663 55.202 126.761 51.3644 128.832 48.0418C130.903 44.7192 133.865 42.0451 137.381 40.3238C138.007 40.0173 138.651 39.7418 139.312 39.4974C142.75 38.2326 146.459 37.8876 150.072 38.4964C154.701 39.2853 158.93 41.6125 162.076 45.1023C165.221 48.5921 167.099 53.0408 167.407 57.7301C167.443 58.1898 167.462 58.6525 167.462 59.1181Z" fill="#F7C4A7"/>
							<g opacity="0.1">
							<path opacity="0.1" d="M139.28 39.9891L139.309 39.9717C138.648 40.2161 138.004 40.4916 137.378 40.7981C133.862 42.5194 130.901 45.1935 128.829 48.5161C126.758 51.8387 125.66 55.6763 125.661 59.5924C125.661 59.7611 125.661 59.9299 125.661 60.0987C126.311 60.0811 126.95 59.9275 127.537 59.6477C132.632 57.2675 135.679 49.9872 136.889 44.9096C137.325 43.091 137.735 41.0425 139.28 39.9891Z" fill="black"/>
							<path opacity="0.1" d="M155.277 40.574C153.623 39.8135 151.875 39.2745 150.08 38.9707C151.553 39.3097 152.867 40.1361 153.811 41.316C154.274 41.9457 154.658 42.6297 154.954 43.3528C152.173 42.1359 149.16 41.5381 146.125 41.6009C143.089 41.6637 140.104 42.3856 137.375 43.7166C138.687 46.5943 142.755 48.1627 145.471 49.2131C148.445 50.3615 151.45 51.412 154.486 52.3644L151.799 50.1821L157.868 51.1481C157.934 49.9396 157.79 48.7288 157.444 47.5691C158.607 48.5061 160.148 48.8203 161.41 49.606C163.775 51.0987 164.76 53.9706 166.049 56.4585C166.389 57.1161 166.79 57.7883 167.404 58.2044C167.156 54.4456 165.898 50.8235 163.764 47.7204C161.629 44.6173 158.697 42.1483 155.277 40.574Z" fill="black"/>
							</g>
							<path d="M139.28 39.515L139.309 39.4976C138.648 39.742 138.004 40.0174 137.378 40.3239C133.862 42.0453 130.901 44.7194 128.829 48.042C126.758 51.3646 125.66 55.2022 125.661 59.1182C125.661 59.287 125.661 59.4558 125.661 59.6245C126.311 59.6069 126.95 59.4533 127.537 59.1735C132.632 56.7933 135.679 49.513 136.889 44.4355C137.325 42.6285 137.735 40.5713 139.28 39.515Z" fill="#632652"/>
							<path d="M155.276 40.1026C153.622 39.3421 151.874 38.803 150.079 38.4993C151.552 38.8382 152.866 39.6646 153.81 40.8446C154.273 41.4742 154.657 42.1583 154.953 42.8814C152.172 41.6644 149.159 41.0667 146.124 41.1295C143.088 41.1923 140.103 41.9141 137.374 43.2451C138.686 46.1229 142.754 47.6913 145.47 48.7417C148.444 49.8901 151.449 50.9405 154.485 51.893L151.798 49.7107L157.867 50.6767C157.933 49.4681 157.789 48.2574 157.443 47.0977C158.606 48.0346 160.147 48.3489 161.409 49.1345C163.774 50.6272 164.759 53.4992 166.048 55.9871C166.388 56.6447 166.789 57.3168 167.403 57.7329C167.155 53.9741 165.897 50.3521 163.763 47.249C161.628 44.1459 158.696 41.6769 155.276 40.1026Z" fill="#632652"/>
							<path opacity="0.1" d="M123.276 55.6701C123.276 55.6701 144.796 28.9001 169.692 55.6701L167.54 49.6731C167.54 49.6731 155.858 32.6043 147.562 36.2881C139.265 39.9718 131.117 42.5936 131.117 42.5936L123.276 55.6701Z" fill="black"/>
							<path d="M123.276 55.1958C123.276 55.1958 144.796 28.4258 169.692 55.1958L167.54 49.1987C167.54 49.1987 155.858 32.1299 147.562 35.8137C139.265 39.4975 131.117 42.1192 131.117 42.1192L123.276 55.1958Z" fill="#E14B5A"/>
							<path opacity="0.1" d="M105.601 112.865C105.601 112.865 100.992 125.167 107.445 136.239C113.898 147.311 101.76 151.926 101.76 151.926" fill="black"/>
							<path opacity="0.1" d="M180.295 101.793C180.295 101.793 188.286 111.942 183.061 121.015C177.835 130.088 178.143 151.926 178.143 151.926" fill="black"/>
							<path d="M98.5311 160.998H187.364C189.321 160.998 191.197 161.776 192.581 163.16C193.965 164.545 194.742 166.423 194.742 168.38H91.1563C91.1562 166.423 91.9332 164.546 93.3161 163.162C94.6991 161.777 96.5749 160.999 98.5311 160.998Z" fill="#535461"/>
							<path d="M107.57 110.249H178.329C179.819 110.249 181.293 110.542 182.669 111.113C184.045 111.683 185.296 112.519 186.349 113.573C187.402 114.626 188.237 115.877 188.807 117.254C189.377 118.631 189.671 120.107 189.671 121.597V162.689H96.2285V121.597C96.2285 118.587 97.4234 115.701 99.5504 113.573C101.677 111.444 104.562 110.249 107.57 110.249Z" fill="#535461"/>
							<path d="M142.871 144.314C145.927 144.314 148.405 141.834 148.405 138.776C148.405 135.718 145.927 133.239 142.871 133.239C139.815 133.239 137.337 135.718 137.337 138.776C137.337 141.834 139.815 144.314 142.871 144.314Z" fill="white"/>
							<path opacity="0.1" d="M124.506 43.1231C124.506 43.1231 145.653 21.9748 168.461 42.7361" stroke="black" stroke-miterlimit="10"/>
							<path d="M173.804 41.7759H171.681V53.8195H173.804V41.7759Z" fill="#6A5C99"/>
							<path d="M168.849 49.5681C170.789 49.5681 172.65 50.3394 174.022 51.7124C175.394 53.0853 176.165 54.9475 176.165 56.8891V57.3605C176.165 59.3022 175.394 61.1643 174.022 62.5373C172.65 63.9102 170.789 64.6815 168.849 64.6815V49.5681Z" fill="#FFD037"/>
							<path d="M170.736 50.5138C170.736 49.6011 169.997 48.8611 169.084 48.8611C168.172 48.8611 167.433 49.6011 167.433 50.5138V63.7388C167.433 64.6516 168.172 65.3916 169.084 65.3916C169.997 65.3916 170.736 64.6516 170.736 63.7388V50.5138Z" fill="#6A5C99"/>
							<path d="M118.946 54.0549H121.069V42.0113H118.946V54.0549Z" fill="#6A5C99"/>
							<path d="M123.901 64.9175C121.961 64.9175 120.1 64.1462 118.728 62.7732C117.356 61.4002 116.585 59.5381 116.585 57.5965V57.1251C116.585 56.1637 116.774 55.2117 117.142 54.3234C117.509 53.4352 118.048 52.6282 118.728 51.9483C119.407 51.2685 120.214 50.7293 121.101 50.3613C121.989 49.9934 122.941 49.8041 123.901 49.8041V64.9175Z" fill="#FFD037"/>
							<path d="M122.014 63.9715C122.014 64.8843 122.753 65.6243 123.666 65.6243C124.578 65.6243 125.317 64.8843 125.317 63.9715V50.7465C125.317 49.8338 124.578 49.0938 123.666 49.0938C122.753 49.0938 122.014 49.8338 122.014 50.7465V63.9715Z" fill="#6A5C99"/>
							<path d="M171.431 28.9026C168.555 22.9201 162.291 15.6863 148.788 15.1073V15.0898H148.626L143.842 15.3168V15.3401C130.43 15.957 124.195 23.1645 121.328 29.1266C119.418 33.1685 118.404 37.5756 118.355 42.0461L120.007 42.0053L121.659 41.9675C121.73 37.9875 122.645 34.0679 124.343 30.4681C127.984 22.9841 134.684 19.0064 144.255 18.6369L148.486 18.4012C158.062 18.7678 164.765 22.7513 168.403 30.2324C170.104 33.8336 171.021 37.7552 171.093 41.7376L172.745 41.7755L174.397 41.8162C174.349 37.3481 173.338 32.9431 171.431 28.9026Z" fill="#FFD037"/>
							<path d="M246.892 168.477H21.6011V229H246.892V168.477Z" fill="#D6D6E3"/>
							<path opacity="0.1" d="M246.892 172.55H21.6011V180.406H246.892V172.55Z" fill="black"/>
							<path d="M262 167.604H6.48779V175.46H262V167.604Z" fill="#D6D6E3"/>
							</g>
							<defs>
							<linearGradient id="paint0_linear" x1="134.245" y1="171.532" x2="134.245" y2="13.676" gradientUnits="userSpaceOnUse">
							<stop stop-color="#808080" stop-opacity="0.25"/>
							<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
							<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
							</linearGradient>
							<clipPath id="clip0">
							<rect width="262" height="229" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					a.main-vacancy-items-item(href="#" data-aos="fade-up" data-aos-delay="100")
						.main-vacancy-items-item__text Дизайн
						.main-vacancy-items-item__title UX/UI дизайнер
						.main-vacancy-items-item__btn Подробнее
						img(src="assets/images/job-diz.svg", alt="")
					.main-vacancy-items-item(data-aos="fade-up" data-aos-delay="200")
						.main-vacancy-items-item__text Не актуально
						.main-vacancy-items-item__title Менеджер по продажам
						.main-vacancy-items-item__btn Подробнее
		.main-adv
			.main-adv__subtitle Корпоративная культура
			h2.main-adv__title Преимущества
			.main-adv-wrap
				.main-adv-left(data-aos="fade-right" data-aos-delay="1000")
					.main-adv-left-item
						.main-adv-left-item-top
							.main-adv-left-item-top__title Растим топовых специалистов
						.main-adv-left-item-content Проектов становится все больше, и нам нужны суперспециалисты, которым можно доверить задачу любой сложности. Люди, которые могут принимать решения. Мы сами растим и развиваем этих людей.
					.main-adv-left-item
						.main-adv-left-item-top
							.main-adv-left-item-top__title Разнообразие задач
						.main-adv-left-item-content Проектов становится все больше, и нам нужны суперспециалисты, которым можно доверить задачу любой сложности. Люди, которые могут принимать решения. Мы сами растим и развиваем этих людей.
					.main-adv-left-item
						.main-adv-left-item-top
							.main-adv-left-item-top__title Возможность пробовать новое
						.main-adv-left-item-content Проектов становится все больше, и нам нужны суперспециалисты, которым можно доверить задачу любой сложности. Люди, которые могут принимать решения. Мы сами растим и развиваем этих людей.
					.main-adv-left-item
						.main-adv-left-item-top
							.main-adv-left-item-top__title Расширяемся
						.main-adv-left-item-content Проектов становится все больше, и нам нужны суперспециалисты, которым можно доверить задачу любой сложности. Люди, которые могут принимать решения. Мы сами растим и развиваем этих людей.
				.main-adv-right#lottie2(data-aos="fade" data-aos-delay="500")
		
		include ../common/form.pug

