extends ../template

block variables
	- var title = 'Карта'

block content
	.sait-map
		nav.sait-map-menu
			a.sait-map-menu__item(href="index.html") Главная
			a.sait-map-menu__item(href="vacancy.html") Вакансия
			a.sait-map-menu__item(href="services.html") Услуги
			a.sait-map-menu__item(href="cases.html") Кейсы
			a.sait-map-menu__item(href="article.html") Статья




